In [12]:
import pickle
import geopandas as gpd

In [13]:
gdf_buildings = pickle.load(open('./data/data_bj/buildings.pkl', 'rb'))

In [17]:
set([x[0] for x in list(gdf_buildings.index)])

{'node', 'relation', 'way'}

In [11]:
import folium

m = folium.Map(location=[39.9, 116.4], zoom_start=12)
folium.GeoJson(gdf_buildings).add_to(m)
m.save('./data/data_bj/buildings.html')

In [18]:
set([type(x) for x in gdf_buildings.geometry])

{shapely.geometry.linestring.LineString,
 shapely.geometry.multipolygon.MultiPolygon,
 shapely.geometry.point.Point,
 shapely.geometry.polygon.Polygon}

In [20]:
import shapely
gdf_buildings_polygon = gdf_buildings[gdf_buildings.geometry.apply(lambda x: type(x) == shapely.geometry.polygon.Polygon)]
m = folium.Map(location=[39.9, 116.4], zoom_start=12)
folium.GeoJson(gdf_buildings_polygon).add_to(m)
m.save('./data/data_bj/buildings.html')

In [22]:
gdf_buildings.columns

Index(['amenity', 'parking', 'geometry', 'nodes', 'building', 'brand',
       'brand:en', 'brand:wikidata', 'brand:zh', 'name',
       ...
       'name:no', 'name:uk', 'elevator', 'area:highway', 'map_size',
       'species:wikidata', 'species:wikipedia', 'historic:period', 'tgw_type',
       'alt_name_2'],
      dtype='object', length=402)

In [25]:
list(gdf_buildings.columns)

['amenity',
 'parking',
 'geometry',
 'nodes',
 'building',
 'brand',
 'brand:en',
 'brand:wikidata',
 'brand:zh',
 'name',
 'name:en',
 'name:zh',
 'addr:city',
 'addr:district',
 'addr:housenumber',
 'addr:province',
 'addr:street',
 'phone',
 'layer',
 'addr:postcode',
 'building:levels',
 'email',
 'smoking',
 'operator',
 'communication:satellite',
 'man_made',
 'ref',
 'tower:construction',
 'tower:type',
 'office',
 'content',
 'railway',
 'railway:position:exact',
 'building:colour',
 'building:material',
 'roof:material',
 'roof:shape',
 'roof:colour',
 'craft',
 'religion',
 'shop',
 'shelter_type',
 'tourism',
 'opening_hours',
 'telecom',
 'height',
 'cuisine',
 'area',
 'barrier',
 'ways',
 'type',
 'bus',
 'public_transport',
 'fee',
 'wheelchair',
 'source',
 'roof:height',
 'wall',
 'leisure',
 'social_facility',
 'social_facility:for',
 'description',
 'aerialway',
 'aerialway:station',
 'government',
 'aeroway',
 'source_ref',
 'military',
 'waterway',
 'historic',
 'museum',
 'brand:wikipedia',
 'police',
 'level',
 'atm',
 'power',
 'name:zh-Latn-pinyin',
 'covered',
 'wikidata',
 'wikimedia_commons',
 'wikipedia',
 'name:zh-Hans',
 'name:zh-Hant',
 'sport',
 'name:de',
 'highway',
 'club',
 'name:ru',
 'note',
 'station',
 'subway',
 'screen',
 'start_date',
 'bicycle_parking',
 'cooling:method',
 'fuel:diesel',
 'fuel:octane_92',
 'addr:housename',
 'fast_food',
 'website',
 'railway:ref',
 'train',
 'indoor',
 'alt_name',
 'name:fr',
 'name:ja',
 'frequency',
 'landuse',
 'network',
 'capacity',
 'official_name',
 'emergency',
 'internet_access',
 'fuel:HGV_diesel',
 'fuel:octane_95',
 'maxheight',
 'access',
 'fuel:cng',
 'roof:levels',
 'addr:street:en',
 'country',
 'diplomatic',
 'embassy',
 'target',
 'building:levels:underground',
 'short_name',
 'fax',
 'old_name',
 'stars',
 'addr:country',
 'rooms',
 'est_height',
 'delivery',
 'healthcare',
 'ele',
 'toilet',
 'internet_access:fee',
 'outdoor_seating',
 'takeaway',
 'bicycle',
 'foot',
 'horse',
 'motor_vehicle',
 'drive_through',
 'old_name:zh',
 'old_name:zh-Hans',
 'old_name:zh-Hant',
 'brand:zh-Hans',
 'alt_name:en',
 'check_date',
 'branch',
 'branch:en',
 'branch:zh',
 'contact:facebook',
 'contact:instagram',
 'townhall:type',
 'payment:alipay',
 'payment:cash',
 'payment:wechat',
 'payment:购物卡',
 'bench',
 'bin',
 'denomination',
 'building:flats',
 'name:ar',
 'name:hi',
 'name:ko',
 'old_name:en',
 'residential',
 'attraction',
 'min_height',
 'grades',
 'building:min_level',
 'addr:quarter',
 'addr:suburb',
 'toilets:disposal',
 'building:use',
 'changing_table',
 'unisex',
 'information',
 'monorail',
 'payment:credit_cards',
 'payment:debit_cards',
 'abandoned',
 'colour',
 'operator:en',
 'operator:wikidata',
 'operator:zh',
 'substation',
 'surveillance',
 'surveillance:type',
 'addr:subdistrict',
 'roof:orientation',
 'building:part',
 'building:structure',
 'addr:place',
 'fixme',
 'car:rental',
 'bath:open_air',
 'bath:sand_bath',
 'surface',
 'product',
 'studio',
 'operator:wikipedia',
 'second_hand',
 'toilets',
 'organic',
 'alt_name:zh',
 'operator:type',
 'construction',
 'trade',
 'female',
 'male',
 'toilets:handwashing',
 'disused',
 'historic:civilization',
 'opening_hours:signed',
 'toilets:wheelchair',
 'air_conditioning',
 'baby_feeding',
 'stroller',
 'toilets:access',
 'castle_type',
 'addr:state',
 'max_level',
 'min_level',
 'charge',
 'payment:contactless',
 'wpt_description',
 'dance:teaching',
 'telescope:diameter',
 'telescope:spectrum',
 'telescope:type',
 'observatory:type',
 'nohousenumber',
 'opening_date',
 'internet_access:ssid',
 'disused:tourism',
 'disused:railway',
 'location',
 'image',
 'wikipedia:en',
 'wikipedia:fr',
 'generator:method',
 'generator:output:electricity',
 'generator:source',
 'generator:type',
 'diet:halal',
 'alt_name_1',
 'golf',
 'ruins',
 'voltage',
 'currency:CNY',
 'hoops',
 'addr:full',
 'loc_name:en',
 'loc_name:ja',
 'loc_name:ko',
 'loc_name:zh',
 'wikipedia:zh',
 'place',
 'int_name',
 'addr:unit',
 'designation',
 'name:es',
 'material',
 'name:it',
 'name:pt',
 'alt_name:ru',
 'loc_name',
 'name:pl',
 'name:th',
 'name:he',
 'name:vi',
 'alt_name:fr',
 'name:ca',
 'name:hu',
 'bar',
 'alt_name:ja',
 'name:tr',
 'name:nl',
 'name:da',
 'artwork_type',
 'name:nb',
 'highchair',
 'reservation',
 'lit',
 'department',
 'faculty',
 'architect',
 'name:cs',
 'name:eo',
 'name:fi',
 'name:id',
 'name:ro',
 'name:eu',
 'name:lt',
 'name:lv',
 'contact:phone',
 'contact:website',
 'source:name',
 'alt_name:de',
 'fuel:octane_80',
 'fuel:octane_91',
 'ref:manager',
 'heritage',
 'heritage:operator',
 'ref:cn:guobao',
 'url',
 'name:ja-Latn',
 'abbr_name',
 'roof',
 'name:ms',
 'disused:amenity',
 'healthcare:speciality',
 'nat_name',
 'official_name:en',
 'official_name:ja',
 'official_name:ru',
 'official_name:zh',
 'reg_name',
 'tiger:county',
 'zoo',
 'name:be',
 'building_1',
 'en',
 'communication:radio',
 'communication:television',
 'official_name:zh-Hant',
 'name_1',
 'alt_name:ko',
 'private',
 'name:nan',
 'name:nan-HJ',
 'name:nan-POJ',
 'name:nan-TL',
 'contact:twitter',
 'static',
 'contact:email',
 'name:sk',
 'name:ga',
 'abbr_name:en',
 'phone_1',
 'theatre:genre',
 'occupancy',
 'ref:RWTH',
 'stairs',
 'name:hr',
 'payment:campus_card',
 'light_rail',
 'dispensing',
 'roof:direction',
 'service:vehicle:car_repair',
 'service:vehicle:new_car_sales',
 'trolleybus',
 'piste:lit',
 'piste:oneway',
 'piste:type',
 'brand:zh-Hant',
 'building:level',
 'building:prefabricated',
 'full_name',
 'vaccination',
 'aircraft:type',
 'street_cabinet',
 'communication:5G',
 'communication:antenna',
 'communication:mobile_phone',
 'name_en',
 'wholesale',
 'brand:zn',
 'service:vehicle:batteries',
 'service:vehicle:diagnostics',
 'service:vehicle:tyres',
 'recycling_type',
 'industrial',
 'payment:apple_pay',
 'abandoned:building',
 'toilets:position',
 'school',
 'theatre',
 'boundary',
 'protect_class',
 'protection_title',
 'architect:wikidata',
 'name:bg',
 'house',
 'name:sv',
 'tomb',
 'wikipedia:de',
 'inscription',
 'memorial',
 'name:no',
 'name:uk',
 'elevator',
 'area:highway',
 'map_size',
 'species:wikidata',
 'species:wikipedia',
 'historic:period',
 'tgw_type',
 'alt_name_2']

In [41]:
i = 9
list(gdf_buildings.building.value_counts().index)

['yes',
 'apartments',
 'residential',
 'house',
 'bungalow',
 'school',
 'commercial',
 'detached',
 'industrial',
 'university',
 'warehouse',
 'office',
 'retail',
 'dormitory',
 'roof',
 'hospital',
 'college',
 'transportation',
 'train_station',
 'ruins',
 'wall',
 'greenhouse',
 'kindergarten',
 'hotel',
 'garages',
 'public',
 'construction',
 'tower',
 'carport',
 'grandstand',
 'bunker',
 'stadium',
 'hangar',
 'semidetached_house',
 'service',
 'hut',
 'farm',
 'terrace',
 'temple',
 'garage',
 'military',
 'parking',
 'stable',
 'storage_tank',
 'statue',
 'mosque',
 'church',
 'shed',
 'civic',
 'dam',
 'silo',
 'pavilion',
 'toll_booth',
 'gate',
 'cowshed',
 'no',
 'gasometer',
 'toilets',
 'shrine',
 'outbuilding',
 'sty',
 'guardhouse',
 'embassy',
 'religious',
 'company',
 'research_institute',
 'chapel',
 'government',
 'railway',
 'bridge',
 'hotel;yes',
 'yes;school',
 'railway_station',
 'sheepfold',
 'temporary',
 'restaurant',
 'yes;house',
 'barn',
 'washroom',
 'entrance',
 'station',
 'museum',
 'library',
 'gymnasium',
 'boathouse',
 'gatehouse',
 'tree_house',
 'farm_auxiliary',
 'depot',
 'ger',
 'kiln']

In [51]:
# 删除element index
gdf_buildings_ = gdf_buildings[['building', 'geometry']]
def get_building_type(x):
    if type(x) == shapely.geometry.polygon.Polygon or type(x) == shapely.geometry.multipolygon.MultiPolygon:
        return 1
    else:
        return 0

gdf_buildings_['type'] = gdf_buildings_['geometry'].apply(get_building_type)
gdf_buildings_ = gdf_buildings_[gdf_buildings_['type'] == 1]
gdf_buildings_ = gdf_buildings_.drop('type', axis=1)
gdf_buildings_ = gdf_buildings_.reset_index()
gdf_buildings_

# m = folium.Map(location=[39.9, 116.4], zoom_start=12)
# folium.GeoJson(gdf_buildings[['building', 'geometry']].iloc[:10000]).add_to(m)
# m.save('./data/data_bj/buildings.html')

c:\Users\Rui_Chen\anaconda3\envs\elec\lib\site-packages\geopandas\geodataframe.py:1538: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,element_type,osmid,building,geometry
0,way,136879065,yes,"POLYGON ((117.41971 39.44821, 117.41884 39.449..."
1,way,136879066,yes,"POLYGON ((117.42677 39.44808, 117.42740 39.448..."
2,way,136879068,yes,"POLYGON ((117.42063 39.44530, 117.42189 39.446..."
3,way,136879070,yes,"POLYGON ((117.42249 39.44656, 117.42268 39.446..."
4,way,136879072,yes,"POLYGON ((117.42479 39.44635, 117.42558 39.446..."
...,...,...,...,...
133939,way,1153487669,roof,"POLYGON ((115.56875 40.87473, 115.56878 40.874..."
133940,way,1153487676,retail,"POLYGON ((115.57516 40.86999, 115.57600 40.870..."
133941,way,1153487677,roof,"POLYGON ((115.57849 40.87106, 115.57853 40.870..."
133942,way,1233495471,yes,"POLYGON ((115.84090 40.92063, 115.84090 40.920..."
133943,way,1233497325,yes,"POLYGON ((115.81496 40.86308, 115.81688 40.863..."

In [49]:
gdf_buildings_.reset_index()

ValueError: cannot insert osmid, already exists

In [46]:
len(set([x[1] for x in list(gdf_buildings.index)]))

134142

In [54]:
from shapely.geometry import Polygon, MultiPolygon

x = gdf_buildings_.iloc[0].geometry
x.geom_type

'Polygon'

In [55]:
t = MultiPolygon([x])
t.geom_type

'MultiPolygon'

In [57]:
5 in {1, 2, 5}

True

In [58]:
import geopandas as gpd

gdf = gpd.read_file('./data/data_bj/region.geojson')

In [59]:
gdf.head()

          name                                           geometry
0  Region_1000  POLYGON ((116.44605 39.92142, 116.44620 39.921...
1  Region_1001  POLYGON ((116.24726 39.92394, 116.25825 39.922...
2  Region_1002  POLYGON ((116.29054 39.92274, 116.29083 39.922...
3  Region_1004  POLYGON ((116.35842 39.92228, 116.35842 39.922...
4  Region_1005  POLYGON ((116.19135 39.92343, 116.19164 39.923...

In [60]:
gdf['GEOID'] = gdf['name'].str.split('_').apply(lambda x: x[1])

In [63]:
from pyproj import Geod
geod = Geod(ellps="WGS84")

gdf['ALAND'] = gdf['geometry'].apply(lambda x: abs(geod.geometry_area_perimeter(x)[0]))

In [64]:
gdf.head()

,name,geometry,GEOID,ALAND
0,Region_1000,"POLYGON ((116.44605 39.92142, 116.44620 39.921...",1000,169947.321138
1,Region_1001,"POLYGON ((116.24726 39.92394, 116.25825 39.922...",1001,753998.925878
2,Region_1002,"POLYGON ((116.29054 39.92274, 116.29083 39.922...",1002,318517.533868
3,Region_1004,"POLYGON ((116.35842 39.92228, 116.35842 39.922...",1004,183693.190001
4,Region_1005,"POLYGON ((116.19135 39.92343, 116.19164 39.923...",1005,713387.239207

In [65]:
gdf.to_file('./data/data_bj/region.geojson', driver='GeoJSON')

In [66]:
import pickle

gdf_buildings = pickle.load(open('./data/data_bj/gdf_building.pkl', 'rb'))

In [67]:
m = folium.Map(location=[39.9, 116.4], zoom_start=12)
folium.GeoJson(gdf_buildings).add_to(m)

In [68]:
folium.GeoJson(
    gdf_buildings,
    name="geojson",
    style_function=lambda x: {
        "fillColor": "red",
        "color": "red",
        "weight": 2,  # 设置边界线宽度
    },
).add_to(m)

In [70]:
gdf_buildings = gdf_buildings.reset_index()
[gdf_buildings["geometry"][0].centroid.y, gdf_buildings["geometry"][0].centroid.x]

[39.782585844879286, 116.55651118878488]

In [71]:
import numpy as np

data = np.random.randn(20, 2)
data.shape

(20, 2)

In [72]:
len(data.flatten())

40

In [73]:
a = [1, 2, 3]
a[2, 1, 3]

TypeError: list indices must be integers or slices, not tuple

In [74]:
# 按照list的2，0，1的顺序取值
a = [1, 2, 3]
a[2, 0, 1]

TypeError: list indices must be integers or slices, not tuple